language: python
python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install .

script:
  - pytest

deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "luNqbrMV3//GbAlfq4E4zQqDB5JcOhzUOiWhA7fzTFnylYZ9nqeDzo6PcMp+ovfY5W7O7MZ1aimMPSMPdDVFJTCFuPknzcFhyaQDMLgkdPOub8Dx0/01VGbmUDQmSos7MWhGIVAaSjBdl75sBKELEkETmpZ93Gzwg76XUw+yP73MyxRVgLmlPJQuoAxqtMQ+y0ply+VA3pcUlTtIpXTUWUo0oWSG6tqf7uJj0emKm6qJDJ4iCfxOoj9AESnhUP+/DwpYIt0qEl/s9ZVuuAQaGKvs75n3HfrZZLE+Y7cxVt3AVqcjSj3q1dmQtGkT9EnuRvTw74HkkwfYH5F2tH53EJOcHwg802axSTcI/yUVmir1WFQhYzZEstl3Yf7Ms92IDOzZkrD0/ofvu+3o9ONNmdcx08Dj+cdSIk95zFs3f51fOVUpnxkApln96ScQ5H6sEa/Iih0RUeJau2u3BOOjUsgMcF0Jk0/wbi+tmsAuwiapr4JXSpagKHob/cucS9NZ4KN7H68hQv7YujW5Cr1c/ZGV40Cr5SunbwARk2KMuiDtIss2aMnS+1sDfNHegrdVqNth9XMFSaZBUGlHewtdo/xAulxF73UwyvGKXbYDnbXOomKbGZ92Jv7Yr76uXplEAWjdGdO2mod5DgF+dvWjtSqySVRKDDpeZzsPZtf9oA0="
  on:
    tags: true
    branch: master
  skip_existing: true
